:root {
	--kcSource: #489fe2;
	/* primary */
	--kcPrimary-0: #000000;
	--kcPrimary-10: #001d32;
	--kcPrimary-20: #003352;
	--kcPrimary-25: #003f63;
	--kcPrimary-30: #004a75;
	--kcPrimary-35: #005787;
	--kcPrimary-40: #00639a;
	--kcPrimary-50: #117dbe;
	--kcPrimary-60: #3e97d9;
	--kcPrimary-70: #5eb2f6;
	--kcPrimary-80: #95ccff;
	--kcPrimary-90: #cde5ff;
	--kcPrimary-95: #e8f2ff;
	--kcPrimary-98: #f7f9ff;
	--kcPrimary-99: #fcfcff;
	--kcPrimary-100: #ffffff;
	/* secondary */
	--kcSecondary-0: #000000;
	--kcSecondary-10: #0e1d2a;
	--kcSecondary-20: #233240;
	--kcSecondary-25: #2e3d4b;
	--kcSecondary-30: #3a4857;
	--kcSecondary-35: #455463;
	--kcSecondary-40: #51606f;
	--kcSecondary-50: #6a7989;
	--kcSecondary-60: #8392a3;
	--kcSecondary-70: #9eadbe;
	--kcSecondary-80: #b9c8da;
	--kcSecondary-90: #d5e4f6;
	--kcSecondary-95: #e8f2ff;
	--kcSecondary-98: #f7f9ff;
	--kcSecondary-99: #fcfcff;
	--kcSecondary-100: #ffffff;
	/* tertiary */
	--kcTertiary-0: #000000;
	--kcTertiary-10: #351000;
	--kcTertiary-20: #561f00;
	--kcTertiary-25: #682700;
	--kcTertiary-30: #7a3000;
	--kcTertiary-35: #8d3800;
	--kcTertiary-40: #a04100;
	--kcTertiary-50: #c85300;
	--kcTertiary-60: #f26500;
	--kcTertiary-70: #ff8c52;
	--kcTertiary-80: #ffb693;
	--kcTertiary-90: #ffdbcc;
	--kcTertiary-95: #ffede6;
	--kcTertiary-98: #fff8f6;
	--kcTertiary-99: #fffbff;
	--kcTertiary-100: #ffffff;
	/* neutral */
	--kcNeutral-0: #000000;
	--kcNeutral-10: #1a1c1e;
	--kcNeutral-20: #2f3033;
	--kcNeutral-25: #3a3b3e;
	--kcNeutral-30: #45474a;
	--kcNeutral-35: #515255;
	--kcNeutral-40: #5d5e61;
	--kcNeutral-50: #76777a;
	--kcNeutral-60: #909194;
	--kcNeutral-70: #aaabae;
	--kcNeutral-80: #c6c6c9;
	--kcNeutral-90: #e2e2e5;
	--kcNeutral-95: #f0f0f4;
	--kcNeutral-98: #f9f9fc;
	--kcNeutral-99: #fcfcff;
	--kcNeutral-100: #ffffff;
	/* neutralVariant */
	--kcNeutralVariant-0: #000000;
	--kcNeutralVariant-10: #171c22;
	--kcNeutralVariant-20: #2b3137;
	--kcNeutralVariant-25: #363c42;
	--kcNeutralVariant-30: #42474e;
	--kcNeutralVariant-35: #4d5359;
	--kcNeutralVariant-40: #595f66;
	--kcNeutralVariant-50: #72777f;
	--kcNeutralVariant-60: #8c9198;
	--kcNeutralVariant-70: #a6acb3;
	--kcNeutralVariant-80: #c2c7cf;
	--kcNeutralVariant-90: #dee3eb;
	--kcNeutralVariant-95: #ecf1f9;
	--kcNeutralVariant-98: #f7f9ff;
	--kcNeutralVariant-99: #fcfcff;
	--kcNeutralVariant-100: #ffffff;
	/* error */
	--kcError-0: #000000;
	--kcError-10: #410002;
	--kcError-20: #690005;
	--kcError-25: #7e0007;
	--kcError-30: #93000a;
	--kcError-35: #a80710;
	--kcError-40: #ba1a1a;
	--kcError-50: #de3730;
	--kcError-60: #ff5449;
	--kcError-70: #ff897d;
	--kcError-80: #ffb4ab;
	--kcError-90: #ffdad6;
	--kcError-95: #ffedea;
	--kcError-98: #fff8f7;
	--kcError-99: #fffbff;
	--kcError-100: #ffffff;
	/* light */
	--kcPrimary: #00639a;
	--kcOnPrimary: #ffffff;
	--kcPrimaryContainer: #cde5ff;
	--kcOnPrimaryContainer: #001d32;
	--kcSecondary: #51606f;
	--kcOnSecondary: #ffffff;
	--kcSecondaryContainer: #d5e4f6;
	--kcOnSecondaryContainer: #0e1d2a;
	--kcTertiary: #a04100;
	--kcOnTertiary: #ffffff;
	--kcTertiaryContainer: #ffdbcc;
	--kcOnTertiaryContainer: #351000;
	--kcError: #ba1a1a;
	--kcErrorContainer: #ffdad6;
	--kcOnError: #ffffff;
	--kcOnErrorContainer: #410002;
	--kcBackground: #00639a;
	--kcOnBackground: #ffffff;
	--kcSurface: #fcfcff;
	--kcOnSurface: #1a1c1e;
	--kcSurfaceVariant: #dee3eb;
	--kcOnSurfaceVariant: #42474e;
	--kcOutline: #72777f;
	--kcInverseOnSurface: #f0f0f4;
	--kcInverseSurface: #2f3033;
	--kcInversePrimary: #95ccff;
	--kcShadow: #000000;
	--kcSurfaceTint: #00639a;
	--kcOutlineVariant: #c2c7cf;
	--kcScrim: #000000;
	/* Custom Colors */
	--kcGood: #00639a;
	--kcGoodContainer: #cde5ff;
	--kcOnGoodContainer: #001d32;
	--kcOK: #f1b400;
	--kcOKContainer: #ffdea0;
	--kcOnOKContainer: #261a00;
	--kcBad: #ba1a1a;
	--kcBadContainer: #ffdad6;
	--kcOnBadContainer: #410002;	

	/* Kanoa General Colors */
	--kcRed-0:   #ffffff;
    --kcRed-10:  #f6d5d5;
    --kcRed-20:  #edabab;
    --kcRed-30:  #e38282;
    --kcRed-40:  #da5858;
    --kcRed-50:  #d12e2e;
    --kcRed-60:  #a72525;
    --kcRed-70:  #7d1c1c;
    --kcRed-80:  #541212;
    --kcRed-90:  #2a0909;
    --kcRed-100: #000000;

    --kcOrange-0:   #ffffff;
    --kcOrange-10:  #f6e6d5;
    --kcOrange-20:  #edcdab;
    --kcOrange-30:  #e4b481;
    --kcOrange-40:  #db9b57;
    --kcOrange-50:  #d2822d;
    --kcOrange-60:  #a86824;
    --kcOrange-70:  #7e4e1b;
    --kcOrange-80:  #543412;
    --kcOrange-90:  #2a1a09;
    --kcOrange-100: #000000;

    --kcYellow-0:   #ffffff;
    --kcYellow-10:  #f6f6d5;
    --kcYellow-20:  #ededab;
    --kcYellow-30:  #e3e382;
    --kcYellow-40:  #dada58;
    --kcYellow-50:  #d1d12e;
    --kcYellow-60:  #a7a725;
    --kcYellow-70:  #7d7d1c;
    --kcYellow-80:  #545412;
    --kcYellow-90:  #2a2a09;
    --kcYellow-100: #000000;

    --kcGreen-0:   #ffffff;
    --kcGreen-10:  #eef6d5;
    --kcGreen-20:  #ddedab;
    --kcGreen-30:  #cde382;
    --kcGreen-40:  #bcda58;
    --kcGreen-50:  #abd12e;
    --kcGreen-60:  #89a725;
    --kcGreen-70:  #677d1c;
    --kcGreen-80:  #445412;
    --kcGreen-90:  #222a09;
    --kcGreen-100: #000000;

    --kcBlue-0:   #ffffff;
    --kcBlue-10:  #d5e6f6;
    --kcBlue-20:  #abcded;
    --kcBlue-30:  #81b4e4;
    --kcBlue-40:  #579bdb;
    --kcBlue-50:  #2d82d2;
    --kcBlue-60:  #2468a8;
    --kcBlue-70:  #1b4e7e;
    --kcBlue-80:  #123454;
    --kcBlue-90:  #091a2a;
    --kcBlue-100: #000000;

    --kcPurple-0:   #ffffff;
    --kcPurple-10:  #e6d5f6;
    --kcPurple-20:  #cdabed;
    --kcPurple-30:  #b481e4;
    --kcPurple-40:  #9b57db;
    --kcPurple-50:  #822dd2;
    --kcPurple-60:  #6824a8;
    --kcPurple-70:  #4e1b7e;
    --kcPurple-80:  #341254;
    --kcPurple-90:  #1a092a;
    --kcPurple-100: #000000;

    --kcPink-0:   #ffffff;
    --kcPink-10:  #f6d5e6;
    --kcPink-20:  #edabcc;
    --kcPink-30:  #e382b3;
    --kcPink-40:  #da5899;
    --kcPink-50:  #d12e80;
    --kcPink-60:  #a72566;
    --kcPink-70:  #7d1c4d;
    --kcPink-80:  #541233;
    --kcPink-90:  #2a091a;
    --kcPink-100: #000000;

    --kcGray-0:   #ffffff;
	--kcGray-05:  #f8fafa;
    --kcGray-10:  #e6e6e6;
    --kcGray-20:  #cccccc;
    --kcGray-30:  #b3b3b3;
    --kcGray-40:  #999999;
    --kcGray-50:  #808080;
    --kcGray-60:  #666666;
    --kcGray-70:  #4d4d4d;
    --kcGray-80:  #333333;
    --kcGray-90:  #1a1a1a;
    --kcGray-100: #000000;
	
	/* Alias British spelling used in projects */
	--kcGrey-0: var(--kcGray-0);
	--kcGrey-10: var(--kcGray-10);
	--kcGrey-20: var(--kcGray-20);
	--kcGrey-30: var(--kcGray-30);
	--kcGrey-40: var(--kcGray-40);
	--kcGrey-50: var(--kcGray-50);
	--kcGrey-60: var(--kcGray-60);
	--kcGrey-70: var(--kcGray-70);
	--kcGrey-80: var(--kcGray-80);
	--kcGrey-90: var(--kcGray-90);
	--kcGrey-95: var(--kcGray-95);
	--kcGrey-100: var(--kcGray-100);

    /* Docks */
    --kcDockBackground: var(--kcPrimary);
    --kcDockBackgroundAccent: var(--kcTertiary);
    --kcDockColor: var(--kcOnPrimary);
    --kcDockColorAccent: var(--kcOnTertiary);
	

    /* Cards */
    --kcCardBackground: var(--kcSurface);
    --kcCardShadow: 2px 2px 3px #88888844;
    --kcCardBorder: var(--kcOutline);

    /* Popup */
    --popupBackground: var(--kcSurface);

    /* Containers */
    --kcRootBackground: var(--kcBackground);
    --kcContainerBackground: var(--kcSurface);
    --kcNestedBackground: var(--kcSurfaceVariant);
    
    /* Tooltips */
    --kcTooltipBackground: var(--kcSurfaceVariant);
    --kcTooltipColor: var(--kcOnSurfaceVariant);
    --kcTooltipBorder: var(--kcOutlineVariant);

    --kcTooltipBackground-Error: var(--kcErrorContainer);
    --kcTooltipColor-Error: var(--kcOnErrorContainer);
    --kcTooltipBorder-Error: var(--kcOnError);

    /* Inputs */
    --kcInputBorder: var(--kcOutlineVariant);

    /* Buttons */
    --kcButton-DefaultBackground: var(--kcGray-20);
    --kcButton-DefaultColor: var(--kcGray-80);
    --kcButton-DefaultBorder: var(--kcGray-40);
    --kcButtonShadow: var(--kcCardShadow);

    --kcButton-DisabledBackground: var(--kcGray-30);
    --kcButton-DisabledColor: var(--kcGray-50);
    --kcButton-DisabledBorder: var(--kcGray-50);

    --kcButton-GreenBackground: var(--kcGreen-40);
    --kcButton-GreenColor: var(--kcGreen-80);
    --kcButton-GreenBorder: var(--kcGreen-60);

    --kcButton-RedBackground: var(--kcRed-40);
    --kcButton-RedColor: var(--kcRed-80);
    --kcButton-RedBorder: var(--kcRed-60);

    --kcButton-BlueBackground: var(--kcBlue-40);
    --kcButton-BlueColor: var(--kcBlue-80);
    --kcButton-BlueBorder: var(--kcBlue-60);
	
	/* Ignition Color Overrides */
	/* Neutrals */
    --neutral-0: var(--kcNeutral-100);
    --neutral-10: var(--kcNeutral-90);
    --neutral-20: var(--kcNeutral-80);
    --neutral-30: var(--kcNeutral-70);
    --neutral-40: var(--kcNeutral-60);
    --neutral-50: var(--kcNeutral-50);
    --neutral-60: var(--kcNeutral-40);
    --neutral-70: var(--kcNeutral-30);
    --neutral-80: var(--kcNeutral-20);
    --neutral-90: var(--kcNeutral-10);
    --neutral-100: var(--kcNeutral-0);
	
	--kcChart-01: #0069ad;
	--kcChart-02: #f96900;
	--kcChart-03: #f7b801;
	--kcChart-04: #489fe2;
	--kcChart-05: #358A61;
	--kcChart-06: #ba1a1a;
	--kcChart-07: #0069ad;
	--kcChart-08: #f96900;
	--kcChart-09: #f7b801;
	
	--checkbox--checked: var(--kcPrimary);
}