.ia_popup {
    background-color: var(--kcSurface);
    box-shadow: var(--boxShadow5);
    border: var(--containerBorder);
}

.ia_popup__header {
    background-color: var(--kcPrimaryContainer);
    color: var(--kcOnPrimaryContainer);
    border-bottom: var(--kcOutline);
    font-size: 0.875rem;
}