:root {	
	--kcsource: #B5C99A;
	/* primary */
	--kcPrimary-0: #000000;
	--kcPrimary-10: #0f2000;
	--kcPrimary-20: #1e3700;
	--kcPrimary-25: #264300;
	--kcPrimary-30: #2e4f00;
	--kcPrimary-35: #385c06;
	--kcPrimary-40: #436914;
	--kcPrimary-50: #5b822c;
	--kcPrimary-60: #749d44;
	--kcPrimary-70: #8db85b;
	--kcPrimary-80: #a8d474;
	--kcPrimary-90: #c3f18d;
	--kcPrimary-95: #d2ff9c;
	--kcPrimary-98: #f0ffd7;
	--kcPrimary-99: #f9ffe9;
	--kcPrimary-100: #ffffff;
	/* secondary */
	--kcSecondary-0: #000000;
	--kcSecondary-10: #151e0b;
	--kcSecondary-20: #2a331e;
	--kcSecondary-25: #353f29;
	--kcSecondary-30: #404a33;
	--kcSecondary-35: #4c563e;
	--kcSecondary-40: #586249;
	--kcSecondary-50: #707b61;
	--kcSecondary-60: #8a9579;
	--kcSecondary-70: #a4af93;
	--kcSecondary-80: #bfcbad;
	--kcSecondary-90: #dbe7c8;
	--kcSecondary-95: #eaf5d5;
	--kcSecondary-98: #f2fede;
	--kcSecondary-99: #f9ffe9;
	--kcSecondary-100: #ffffff;
	/* tertiary */
	--kcTertiary-0: #000000;
	--kcTertiary-10: #00201e;
	--kcTertiary-20: #003735;
	--kcTertiary-25: #104240;
	--kcTertiary-30: #1f4e4b;
	--kcTertiary-35: #2c5a57;
	--kcTertiary-40: #386663;
	--kcTertiary-50: #517f7c;
	--kcTertiary-60: #6b9996;
	--kcTertiary-70: #85b4b0;
	--kcTertiary-80: #a0d0cc;
	--kcTertiary-90: #bbece8;
	--kcTertiary-95: #c9faf6;
	--kcTertiary-98: #e3fffc;
	--kcTertiary-99: #f2fffd;
	--kcTertiary-100: #ffffff;
	/* neutral */
	--kcNeutral-0: #000000;
	--kcNeutral-10: #1b1c18;
	--kcNeutral-20: #30312c;
	--kcNeutral-25: #3b3c37;
	--kcNeutral-30: #464742;
	--kcNeutral-35: #52534d;
	--kcNeutral-40: #5e5f59;
	--kcNeutral-50: #777771;
	--kcNeutral-60: #91918b;
	--kcNeutral-70: #abaca5;
	--kcNeutral-80: #c7c7c0;
	--kcNeutral-90: #e3e3db;
	--kcNeutral-95: #f2f1e9;
	--kcNeutral-98: #fafaf2;
	--kcNeutral-99: #fdfcf5;
	--kcNeutral-100: #ffffff;
	/* neutralVariant */
	--kcNeutralVariant-0: #000000;
	--kcNeutralVariant-10: #191d14;
	--kcNeutralVariant-20: #2e3228;
	--kcNeutralVariant-25: #393d32;
	--kcNeutralVariant-30: #44483d;
	--kcNeutralVariant-35: #505449;
	--kcNeutralVariant-40: #5c6054;
	--kcNeutralVariant-50: #75796c;
	--kcNeutralVariant-60: #8e9285;
	--kcNeutralVariant-70: #a9ad9f;
	--kcNeutralVariant-80: #c5c8ba;
	--kcNeutralVariant-90: #e1e4d5;
	--kcNeutralVariant-95: #eff2e3;
	--kcNeutralVariant-98: #f8fbec;
	--kcNeutralVariant-99: #fbfeee;
	--kcNeutralVariant-100: #ffffff;
	/* error */
	--kcError-0: #000000;
	--kcError-10: #410002;
	--kcError-20: #690005;
	--kcError-25: #7e0007;
	--kcError-30: #93000a;
	--kcError-35: #a80710;
	--kcError-40: #ba1a1a;
	--kcError-50: #de3730;
	--kcError-60: #ff5449;
	--kcError-70: #ff897d;
	--kcError-80: #ffb4ab;
	--kcError-90: #ffdad6;
	--kcError-95: #ffedea;
	--kcError-98: #fff8f7;
	--kcError-99: #fffbff;
	--kcError-100: #ffffff;
	/* light */
	--kcPrimary: #436914;
	--kcOnPrimary: #ffffff;
	--kcPrimaryContainer: #c3f18d;
	--kcOnPrimaryContainer: #0f2000;
	--kcSecondary: #586249;
	--kcOnSecondary: #ffffff;
	--kcSecondaryContainer: #dbe7c8;
	--kcOnSecondaryContainer: #151e0b;
	--kcTertiary: #386663;
	--kcOnTertiary: #ffffff;
	--kcTertiaryContainer: #bbece8;
	--kcOnTertiaryContainer: #00201e;
	--kcError: #ba1a1a;
	--kcErrorContainer: #ffdad6;
	--kcOnError: #ffffff;
	--kcOnErrorContainer: #410002;
	--kcBackground: #436914;
	--kcOnBackground: #ffffff;
	--kcSurface: #fdfcf5;
	--kcOnSurface: #1b1c18;
	--kcSurfaceVariant: #e1e4d5;
	--kcOnSurfaceVariant: #44483d;
	--kcOutline: #75796c;
	--kcInverseOnSurface: #f2f1e9;
	--kcInverseSurface: #30312c;
	--kcInversePrimary: #a8d474;
	--kcShadow: #000000;
	--kcSurfaceTint: #436914;
	--kcOutlineVariant: #c5c8ba;
	--kcScrim: #000000;
	/* Custom Colors */
	--kcGood: #436914;
	--kcOK: #FFC95F;
	--kcBad: #862B0D;
	
	--kcGoodContainer: var(--kcPrimaryContainer);
	--kcOnGoodContainer: var(--kcOnPrimaryContainer);
	--kcOKContainer: #f6bd48;
	--kcOnOKContainer: #412d00;
	--kcBadContainer: #a13f20;
	--kcOnBadContainer: #ffffff;
	
	--kcChart-01: #898121;
	--kcChart-02: #E8751A;
	--kcChart-03: #FDA403;
	--kcChart-04: #638889;
	--kcChart-05: #294B29;
	--kcChart-06: #AF2655;
	--kcChart-07: #898121;
	--kcChart-08: #E8751A;
	--kcChart-09: #FDA403;
}