.ia_tableComponent {
    border: 1px solid var(--kcOutline);
    border-radius: 5px;
}

.ia_tableComponent__filterContainer {
    background-color: var(--kcSurface);
	color: var(--kcOnSurface);
}

.ia_tableComponent__body__row--hovered {
    color: var(--kcOnTertiaryContainer);
    background-color: var(--kcTertiaryContainer);
}

.ia_tableComponent__selection {
	background-color: var(--kcOnSurface);
	opacity: 0.2;
}
.ia_tableComponent__selection--root {
    border: 1px var(--callToAction) solid;
}

.ia_tableComponent__editableCell {
    border: 1px var(--callToAction) solid;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--container);
}

.table-container .ia_container--secondary {
    background-color: var(--kcSurface);              /* The background color of the data portion of the table. */
}

.table-container .ia_tableComponent__filterContainer {
    background-color: var(--kcSurface);              /* The background color of the table filter. */
}

.table-container .ia_table__headContainer, .ia_table__footContainer {
    background-color: var(--kcSurface);              /* The background color of the table header. */
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 0%);
}

.table-container .ia_pager {
    background-color: var(--kcSurface);              /* The background color of the table pager. */
}