:root {	
	--kcsource: #ba1a1a;
	/* primary */
	--kcPrimary-0: #000000;
	--kcPrimary-10: #410002;
	--kcPrimary-20: #690004;
	--kcPrimary-25: #7e0007;
	--kcPrimary-30: #930009;
	--kcPrimary-35: #a8060f;
	--kcPrimary-40: #ba1a1a;
	--kcPrimary-50: #de372f;
	--kcPrimary-60: #ff5449;
	--kcPrimary-70: #ff897d;
	--kcPrimary-80: #ffb4ab;
	--kcPrimary-90: #ffdad5;
	--kcPrimary-95: #ffedea;
	--kcPrimary-98: #fff8f7;
	--kcPrimary-99: #fffbff;
	--kcPrimary-100: #ffffff;
	/* secondary */
	--kcSecondary-0: #000000;
	--kcSecondary-10: #2c1512;
	--kcSecondary-20: #442926;
	--kcSecondary-25: #513431;
	--kcSecondary-30: #5d3f3c;
	--kcSecondary-35: #6a4b47;
	--kcSecondary-40: #775652;
	--kcSecondary-50: #926f6a;
	--kcSecondary-60: #ad8883;
	--kcSecondary-70: #caa29d;
	--kcSecondary-80: #e7bdb7;
	--kcSecondary-90: #ffdad5;
	--kcSecondary-95: #ffedea;
	--kcSecondary-98: #fff8f7;
	--kcSecondary-99: #fffbff;
	--kcSecondary-100: #ffffff;
	/* tertiary */
	--kcTertiary-0: #000000;
	--kcTertiary-10: #261a00;
	--kcTertiary-20: #3f2e04;
	--kcTertiary-25: #4b390e;
	--kcTertiary-30: #574419;
	--kcTertiary-35: #644f23;
	--kcTertiary-40: #715b2e;
	--kcTertiary-50: #8b7444;
	--kcTertiary-60: #a78d5b;
	--kcTertiary-70: #c3a873;
	--kcTertiary-80: #e0c38c;
	--kcTertiary-90: #fddfa6;
	--kcTertiary-95: #ffefd5;
	--kcTertiary-98: #fff8f2;
	--kcTertiary-99: #fffbff;
	--kcTertiary-100: #ffffff;
	/* neutral */
	--kcNeutral-0: #000000;
	--kcNeutral-10: #201a19;
	--kcNeutral-20: #362f2e;
	--kcNeutral-25: #413a39;
	--kcNeutral-30: #4d4544;
	--kcNeutral-35: #59504f;
	--kcNeutral-40: #655c5b;
	--kcNeutral-50: #7f7573;
	--kcNeutral-60: #998e8d;
	--kcNeutral-70: #b4a9a7;
	--kcNeutral-80: #d0c4c2;
	--kcNeutral-90: #ede0de;
	--kcNeutral-95: #fbeeec;
	--kcNeutral-98: #fff8f7;
	--kcNeutral-99: #fffbff;
	--kcNeutral-100: #ffffff;
	/* neutral-variant */
	--kcNeutralVariant-0: #000000;
	--kcNeutralVariant-10: #251917;
	--kcNeutralVariant-20: #3b2d2b;
	--kcNeutralVariant-25: #473836;
	--kcNeutralVariant-30: #534341;
	--kcNeutralVariant-35: #5f4f4d;
	--kcNeutralVariant-40: #6b5a58;
	--kcNeutralVariant-50: #857371;
	--kcNeutralVariant-60: #a08c8a;
	--kcNeutralVariant-70: #bba7a4;
	--kcNeutralVariant-80: #d8c2bf;
	--kcNeutralVariant-90: #f5ddda;
	--kcNeutralVariant-95: #ffedea;
	--kcNeutralVariant-98: #fff8f7;
	--kcNeutralVariant-99: #fffbff;
	--kcNeutralVariant-100: #ffffff;
	/* error */
	--kcError-0: #000000;
	--kcError-10: #410002;
	--kcError-20: #690005;
	--kcError-25: #7e0007;
	--kcError-30: #93000a;
	--kcError-35: #a80710;
	--kcError-40: #ba1a1a;
	--kcError-50: #de3730;
	--kcError-60: #ff5449;
	--kcError-70: #ff897d;
	--kcError-80: #ffb4ab;
	--kcError-90: #ffdad6;
	--kcError-95: #ffedea;
	--kcError-98: #fff8f7;
	--kcError-99: #fffbff;
	--kcError-100: #ffffff;
	/* light */
	--kcPrimary: #ba1a1a;
	--kcOnPrimary: #ffffff;
	--kcPrimaryContainer: #ffdad5;
	--kcOnPrimaryContainer: #410002;
	--kcSecondary: #775652;
	--kcOnSecondary: #ffffff;
	--kcSecondaryContainer: #ffdad5;
	--kcOnSecondaryContainer: #2c1512;
	--kcTertiary: #715b2e;
	--kcOnTertiary: #ffffff;
	--kcTertiaryContainer: #fddfa6;
	--kcOnTertiaryContainer: #261a00;
	--kcError: #ba1a1a;
	--kcErrorContainer: #ffdad6;
	--kcOnError: #ffffff;
	--kcOnErrorContainer: #410002;
	--kcBackground: #ba1a1a;
	--kcOnBackground: #201a19;
	--kcSurface: #fffbff;
	--kcOnSurface: #201a19;
	--kcSurfaceVariant: #f5ddda;
	--kcOnSurfaceVariant: #534341;
	--kcOutline: #857371;
	--kcInverseOnSurface: #fbeeec;
	--kcInverseSurface: #362f2e;
	--kcInversePrimary: #ffb4ab;
	--kcShadow: #000000;
	--kcSurfaceTint: #ba1a1a;
	--kcOutlineVariant: #d8c2bf;
	--kcScrim: #000000;
	/* Custom Colors */
	--kcGood: #436914;
	--kcOK: #FFC95F;
	--kcBad: #862B0D;
	
	--kcGoodContainer: var(--kcPrimaryContainer);
	--kcOnGoodContainer: var(--kcOnPrimaryContainer);
	--kcOKContainer: #f6bd48;
	--kcOnOKContainer: #412d00;
	--kcBadContainer: #a13f20;
	--kcOnBadContainer: #ffffff;
	
	--kcChart-01: #ba1a1a;
	--kcChart-02: #2B2A4C;
	--kcChart-03: #EA906C;
	--kcChart-04: #22092C;
	--kcChart-05: #EE9322;
	--kcChart-06: #219C90;
	--kcChart-07: #ba1a1a;
	--kcChart-08: #2B2A4C;
	--kcChart-09: #EA906C;
}