:root {	
	--kcsource: #ff8a00;
	/* primary */
	--kcPrimary-0: #000000;
	--kcPrimary-10: #2f1500;
	--kcPrimary-20: #4e2600;
	--kcPrimary-25: #5e2f00;
	--kcPrimary-30: #6f3900;
	--kcPrimary-35: #804200;
	--kcPrimary-40: #914c00;
	--kcPrimary-50: #b66100;
	--kcPrimary-60: #dc7600;
	--kcPrimary-70: #ff8e1c;
	--kcPrimary-80: #ffb77f;
	--kcPrimary-90: #ffdcc4;
	--kcPrimary-95: #ffede3;
	--kcPrimary-98: #fff8f5;
	--kcPrimary-99: #fffbff;
	--kcPrimary-100: #ffffff;
	/* secondary */
	--kcSecondary-0: #000000;
	--kcSecondary-10: #2a1707;
	--kcSecondary-20: #422c1a;
	--kcSecondary-25: #4e3624;
	--kcSecondary-30: #5a422e;
	--kcSecondary-35: #674d39;
	--kcSecondary-40: #745944;
	--kcSecondary-50: #8f715b;
	--kcSecondary-60: #aa8a73;
	--kcSecondary-70: #c7a58c;
	--kcSecondary-80: #e3c0a6;
	--kcSecondary-90: #ffdcc4;
	--kcSecondary-95: #ffede3;
	--kcSecondary-98: #fff8f5;
	--kcSecondary-99: #fffbff;
	--kcSecondary-100: #ffffff;
	/* tertiary */
	--kcTertiary-0: #000000;
	--kcTertiary-10: #1a1e00;
	--kcTertiary-20: #2f330c;
	--kcTertiary-25: #3a3e16;
	--kcTertiary-30: #454a21;
	--kcTertiary-35: #51562b;
	--kcTertiary-40: #5d6236;
	--kcTertiary-50: #767b4d;
	--kcTertiary-60: #8f9464;
	--kcTertiary-70: #aaaf7c;
	--kcTertiary-80: #c6cb96;
	--kcTertiary-90: #e2e7b0;
	--kcTertiary-95: #f0f5bd;
	--kcTertiary-98: #f9fec5;
	--kcTertiary-99: #fdffd9;
	--kcTertiary-100: #ffffff;
	/* neutral */
	--kcNeutral-0: #000000;
	--kcNeutral-10: #201a17;
	--kcNeutral-20: #352f2b;
	--kcNeutral-25: #413a36;
	--kcNeutral-30: #4c4541;
	--kcNeutral-35: #58514c;
	--kcNeutral-40: #655d58;
	--kcNeutral-50: #7e7570;
	--kcNeutral-60: #988f89;
	--kcNeutral-70: #b3a9a3;
	--kcNeutral-80: #cfc4be;
	--kcNeutral-90: #ece0da;
	--kcNeutral-95: #faeee8;
	--kcNeutral-98: #fff8f5;
	--kcNeutral-99: #fffbff;
	--kcNeutral-100: #ffffff;
	/* neutral-variant */
	--kcNeutralVariant-0: #000000;
	--kcNeutralVariant-10: #241912;
	--kcNeutralVariant-20: #3a2e26;
	--kcNeutralVariant-25: #453930;
	--kcNeutralVariant-30: #51443b;
	--kcNeutralVariant-35: #5e5046;
	--kcNeutralVariant-40: #6a5c52;
	--kcNeutralVariant-50: #847469;
	--kcNeutralVariant-60: #9e8d82;
	--kcNeutralVariant-70: #baa89c;
	--kcNeutralVariant-80: #d6c3b7;
	--kcNeutralVariant-90: #f3dfd2;
	--kcNeutralVariant-95: #ffede3;
	--kcNeutralVariant-98: #fff8f5;
	--kcNeutralVariant-99: #fffbff;
	--kcNeutralVariant-100: #ffffff;
	/* error */
	--kcError-0: #000000;
	--kcError-10: #410002;
	--kcError-20: #690005;
	--kcError-25: #7e0007;
	--kcError-30: #93000a;
	--kcError-35: #a80710;
	--kcError-40: #ba1a1a;
	--kcError-50: #de3730;
	--kcError-60: #ff5449;
	--kcError-70: #ff897d;
	--kcError-80: #ffb4ab;
	--kcError-90: #ffdad6;
	--kcError-95: #ffedea;
	--kcError-98: #fff8f7;
	--kcError-99: #fffbff;
	--kcError-100: #ffffff;
	/* light */
	--kcPrimary: #914c00;
	--kcOnPrimary: #ffffff;
	--kcPrimaryContainer: #ffdcc4;
	--kcOnPrimaryContainer: #2f1500;
	--kcSecondary: #745944;
	--kcOnSecondary: #ffffff;
	--kcSecondaryContainer: #ffdcc4;
	--kcOnSecondaryContainer: #2a1707;
	--kcTertiary: #5d6236;
	--kcOnTertiary: #ffffff;
	--kcTertiaryContainer: #e2e7b0;
	--kcOnTertiaryContainer: #1a1e00;
	--kcError: #ba1a1a;
	--kcErrorContainer: #ffdad6;
	--kcOnError: #ffffff;
	--kcOnErrorContainer: #410002;
	--kcBackground: #914c00;
	--kcOnBackground: #201a17;
	--kcSurface: #fffbff;
	--kcOnSurface: #201a17;
	--kcSurfaceVariant: #f3dfd2;
	--kcOnSurfaceVariant: #51443b;
	--kcOutline: #847469;
	--kcInverseOnSurface: #faeee8;
	--kcInverseSurface: #352f2b;
	--kcInversePrimary: #ffb77f;
	--kcShadow: #000000;
	--kcSurfaceTint: #914c00;
	--kcOutlineVariant: #d6c3b7;
	--kcScrim: #000000;
	/* Custom Colors */
	--kcGood: #436914;
	--kcOK: #FFC95F;
	--kcBad: #862B0D;
	
	--kcGoodContainer: var(--kcPrimaryContainer);
	--kcOnGoodContainer: var(--kcOnPrimaryContainer);
	--kcOKContainer: #f6bd48;
	--kcOnOKContainer: #412d00;
	--kcBadContainer: #a13f20;
	--kcOnBadContainer: #ffffff;
	
	--kcChart-01: #F6995C;
	--kcChart-02: #51829B;
	--kcChart-03: #9BB0C1;
	--kcChart-04: #EADFB4;
	--kcChart-05: #F4538A;
	--kcChart-06: #59D5E0;
	--kcChart-07: #F6995C;
	--kcChart-08: #51829B;
	--kcChart-09: #9BB0C1;
}