:root {	
	--kcsource: #9f55a0;
	/* primary */
	--kcPrimary-0: #000000;
	--kcPrimary-10: #37003c;
	--kcPrimary-20: #550f5a;
	--kcPrimary-25: #621d66;
	--kcPrimary-30: #6f2a72;
	--kcPrimary-35: #7c367f;
	--kcPrimary-40: #8a428c;
	--kcPrimary-50: #a65ba7;
	--kcPrimary-60: #c375c2;
	--kcPrimary-70: #e08fdf;
	--kcPrimary-80: #feaafc;
	--kcPrimary-90: #ffd6f9;
	--kcPrimary-95: #ffebf9;
	--kcPrimary-98: #fff7fa;
	--kcPrimary-99: #fffbff;
	--kcPrimary-100: #ffffff;
	/* secondary */
	--kcSecondary-0: #000000;
	--kcSecondary-10: #261625;
	--kcSecondary-20: #3c2b3b;
	--kcSecondary-25: #483646;
	--kcSecondary-30: #544152;
	--kcSecondary-35: #604c5e;
	--kcSecondary-40: #6c586a;
	--kcSecondary-50: #867083;
	--kcSecondary-60: #a18a9d;
	--kcSecondary-70: #bca4b8;
	--kcSecondary-80: #d9bfd4;
	--kcSecondary-90: #f6dbf0;
	--kcSecondary-95: #ffebf9;
	--kcSecondary-98: #fff7fa;
	--kcSecondary-99: #fffbff;
	--kcSecondary-100: #ffffff;
	/* tertiary */
	--kcTertiary-0: #000000;
	--kcTertiary-10: #33110a;
	--kcTertiary-20: #4c261d;
	--kcTertiary-25: #593027;
	--kcTertiary-30: #663b32;
	--kcTertiary-35: #74473c;
	--kcTertiary-40: #825248;
	--kcTertiary-50: #9e6a5f;
	--kcTertiary-60: #ba8377;
	--kcTertiary-70: #d89d90;
	--kcTertiary-80: #f6b8aa;
	--kcTertiary-90: #ffdad3;
	--kcTertiary-95: #ffede9;
	--kcTertiary-98: #fff8f6;
	--kcTertiary-99: #fffbff;
	--kcTertiary-100: #ffffff;
	/* neutral */
	--kcNeutral-0: #000000;
	--kcNeutral-10: #1e1a1d;
	--kcNeutral-20: #342f32;
	--kcNeutral-25: #3f3a3d;
	--kcNeutral-30: #4a4549;
	--kcNeutral-35: #565154;
	--kcNeutral-40: #625d60;
	--kcNeutral-50: #7c7579;
	--kcNeutral-60: #968f92;
	--kcNeutral-70: #b1a9ad;
	--kcNeutral-80: #cdc4c8;
	--kcNeutral-90: #e9e0e4;
	--kcNeutral-95: #f8eef2;
	--kcNeutral-98: #fff7fa;
	--kcNeutral-99: #fffbff;
	--kcNeutral-100: #ffffff;
	/* neutral-variant */
	--kcNeutralVariant-0: #000000;
	--kcNeutralVariant-10: #211920;
	--kcNeutralVariant-20: #362e35;
	--kcNeutralVariant-25: #423940;
	--kcNeutralVariant-30: #4d444b;
	--kcNeutralVariant-35: #594f57;
	--kcNeutralVariant-40: #665b63;
	--kcNeutralVariant-50: #7f747c;
	--kcNeutralVariant-60: #998d96;
	--kcNeutralVariant-70: #b4a8b0;
	--kcNeutralVariant-80: #d0c3cc;
	--kcNeutralVariant-90: #eddee8;
	--kcNeutralVariant-95: #fcedf6;
	--kcNeutralVariant-98: #fff7fa;
	--kcNeutralVariant-99: #fffbff;
	--kcNeutralVariant-100: #ffffff;
	/* error */
	--kcError-0: #000000;
	--kcError-10: #410002;
	--kcError-20: #690005;
	--kcError-25: #7e0007;
	--kcError-30: #93000a;
	--kcError-35: #a80710;
	--kcError-40: #ba1a1a;
	--kcError-50: #de3730;
	--kcError-60: #ff5449;
	--kcError-70: #ff897d;
	--kcError-80: #ffb4ab;
	--kcError-90: #ffdad6;
	--kcError-95: #ffedea;
	--kcError-98: #fff8f7;
	--kcError-99: #fffbff;
	--kcError-100: #ffffff;
	/* light */
	--kcPrimary: #8a428c;
	--kcOnPrimary: #ffffff;
	--kcPrimaryContainer: #ffd6f9;
	--kcOnPrimaryContainer: #37003c;
	--kcSecondary: #6c586a;
	--kcOnSecondary: #ffffff;
	--kcSecondaryContainer: #f6dbf0;
	--kcOnSecondaryContainer: #261625;
	--kcTertiary: #825248;
	--kcOnTertiary: #ffffff;
	--kcTertiaryContainer: #ffdad3;
	--kcOnTertiaryContainer: #33110a;
	--kcError: #ba1a1a;
	--kcErrorContainer: #ffdad6;
	--kcOnError: #ffffff;
	--kcOnErrorContainer: #410002;
	--kcBackground: #8a428c;
	--kcOnBackground: #1e1a1d;
	--kcSurface: #fffbff;
	--kcOnSurface: #1e1a1d;
	--kcSurfaceVariant: #eddee8;
	--kcOnSurfaceVariant: #4d444b;
	--kcOutline: #7f747c;
	--kcInverseOnSurface: #f8eef2;
	--kcInverseSurface: #342f32;
	--kcInversePrimary: #feaafc;
	--kcShadow: #000000;
	--kcSurfaceTint: #8a428c;
	--kcOutlineVariant: #d0c3cc;
	--kcScrim: #000000;

	/* Custom Colors */
	--kcGood: #436914;
	--kcOK: #FFC95F;
	--kcBad: #862B0D;
	
	--kcGoodContainer: var(--kcPrimaryContainer);
	--kcOnGoodContainer: var(--kcOnPrimaryContainer);
	--kcOKContainer: #f6bd48;
	--kcOnOKContainer: #412d00;
	--kcBadContainer: #a13f20;
	--kcOnBadContainer: #ffffff;
	
	--kcChart-01: #5E1675;
	--kcChart-02: #EE4266;
	--kcChart-03: #FFD23F;
	--kcChart-04: #337357;
	--kcChart-05: #FF3EA5;
	--kcChart-06: #474F7A;
	--kcChart-07: #5E1675;
	--kcChart-08: #EE4266;
	--kcChart-09: #FFD23F;
}